body {
	font-family: Helvetica, sans-serif;
	max-width: 65ex;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em
}

table {
	border-collapse:collapse
}

td, th {
	padding-left: 0.5em;
	padding-right: 0.5em
}

td.first, th.first {
	padding-left: 0;
}

td.last, th.last {
	padding-right: 0
}

ul.horizontal {
	list-style-type: none;
	padding-left: 0
}

ul.horizontal li {
	display: inline;
	margin-left: 1.5em
}

.discrete {
	font-size: small
}

.error {
	color: red;
	background-color: white
}
